.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.projectHeader:global(.__wab_instance) {
  position: relative;
}
.section__eOeB6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__eOeB6 {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.img__ifa0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 700px;
  min-width: 0;
  flex-shrink: 0;
}
.img__ifa0R > picture > img {
  object-fit: cover;
}
.section__e5L7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  row-gap: 16px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 120px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__e5L7 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__uq0Np {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uq0Np {
    padding-left: 8px;
  }
}
.h3__nxRQh {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__nxRQh {
    font-size: 40px;
  }
}
.text__fuyiF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__qhAh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qhAh {
    padding-left: 8px;
  }
}
.h3__aqSqc {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__aqSqc {
    font-size: 40px;
  }
}
.text__oWfTc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox___5Ma5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Ma5 {
    padding-left: 8px;
  }
}
.h3__rqrCn {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__rqrCn {
    font-size: 40px;
  }
}
.text__vl3I0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__lzW5C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 120px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__lzW5C {
    padding-top: 150px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__gbvGq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gbvGq {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__oHr6Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__oHr6Z > picture > img {
  object-fit: cover;
}
.columns__wf8Hx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 60px;
  min-width: 0;
  --plsmc-rc-col-gap: 60px;
  padding: 60px 0px 0px;
}
.columns__wf8Hx > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wf8Hx > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wf8Hx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    min-width: 0;
    --plsmc-rc-col-gap: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wf8Hx > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zhNF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img___7NwCb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img___7NwCb > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7NwCb {
    height: 300px;
    flex-shrink: 0;
  }
}
.column__uRyBz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uRyBz {
    padding: 0px;
  }
}
.img___8DRz9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img___8DRz9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8DRz9 {
    height: 300px;
    flex-shrink: 0;
  }
}
.freeBox__xmqfu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmqfu {
    padding-left: 8px;
  }
}
.h3___1L81 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___1L81 {
    font-size: 40px;
  }
}
.text___3YnfO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__vwu9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 0px 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__vwu9Y {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__fl2OV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fl2OV {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__zjKvt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__zjKvt > picture > img {
  object-fit: cover;
}
.freeBox___1R15V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1R15V {
    padding-left: 8px;
  }
}
.h3__ee7D9 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__ee7D9 {
    font-size: 40px;
  }
}
.text__i4AkH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__gfutw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 150px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gfutw {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
.freeBox__a5Db5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 40px;
  }
}
.columns__ju7K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns__ju7K > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ju7K > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ju7K {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ju7K > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__syjy7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard___1E7By:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__zm1O3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard___55KOj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
}
.contactSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
