.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-24higxTT5khm);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    margin-bottom: 0px;
    height: 105px;
  }
}
.img__aZtiM {
  object-fit: cover;
  max-width: 20%;
}
.img__aZtiM > picture > img {
  object-fit: cover;
}
.img__sHjaw {
  object-fit: cover;
}
.img__sHjaw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sHjaw {
    height: auto;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 89px;
  }
}
.img__mPcZ {
  object-fit: cover;
}
.img__mPcZ > picture > img {
  object-fit: cover;
}
.link__juSom {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__juSom:hover {
  color: var(--token-9BpcOQY3byxb);
}
.link__tg7Xh {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__tg7Xh:hover {
  color: var(--token-9BpcOQY3byxb);
}
.h3___6RBaX {
  height: auto;
}
.link__rngH {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__rngH:hover {
  color: var(--token-9BpcOQY3byxb);
}
